{% extends "miniBond/base.html" %}
{% load staticfiles %}
{% block title %}Future time{% endblock %}
{% block js %}
    <script src="{% static "js/index.js" %}"></script>
{% endblock %}
{% block css %}
    <link href="{% static "css/main.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}


<div class="container-fluid" id="dataList">
<div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
<div>
    <form class="form-horizontal">
        <div class="well well-lg">

         <div class="input-group">
    <span class="input-group-addon">搜一搜</span>
     <input id="searchPlatform" value="" type="text" class="form-control" placeholder="Text input">
             </div>
            <div class="input-group searchTags">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true">我们</span>
                <span class="glyphicon glyphicon-pencil" aria-hidden="true">银行间</span>
                <span class="glyphicon glyphicon-pencil" aria-hidden="true">评级便宜</span>
                <span class="glyphicon glyphicon-pencil" aria-hidden="true">标签</span>
                <span class="glyphicon glyphicon-pencil" aria-hidden="true">我们</span>

            </div>
  </div>

        </form>

</div>
    <div class="bs-callout">
        <h4>bbDefault Callout</h4>
        <div class="credits">
            <div class="groupName">评级认证</div>
            <div class="creditFirstLine">
            <div class="creditItem">
                <span class="ratingOrganize">银行间:</span>
                <span class="creditIndex">23</span>
            </div>
            <div class="creditItem">
                <span class="ratingOrganize">银行间:</span>
                <span class="creditIndex">23</span>
            </div>
            <div class="creditItem">
                <span class="ratingOrganize">银行间:</span>
                <span class="creditIndex">23</span>
            </div>
            <div class="creditItem">
                <span class="ratingOrganize">银行间:</span>
                <span class="creditIndex">23</span>
            </div>
</div>
        </div>
        <div class="platformLabels">
            <div class="groupName">评级标签</div>
            <div>
                <span class="">银行间</span> <span class="">银行间</span> <span class="">银行间</span>
            </div>

        </div>
        <div class="promotions">
              <div class="groupName">认证行动</div>
            <div><a class="btn btn-default btn-sm" href="" target="_blank">银行间</a></div>
            <div><a class="btn btn-default btn-sm" href="" target="_blank">银行间</a></div>
            <div><a class="btn btn-danger btn-xs" href="" target="_blank">银行间</a></div>
        </div>

    </div>

    <div class="bs-callout">
        <h4>ddDefault Callout</h4>
        This is a default callout.
    </div>

    <div class="bs-callout">
        <h4>Default Callout</h4>
        This is a default callout.
    </div>

    </div>
</div>

</div>

{% endblock %}